<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnapp">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnApp">
        <activity
            android:name="com.educate.learnapp.Shows"
            android:exported="true" />

        <activity
            android:name="com.educate.learnapp.Doc"
            android:exported="true" />
        <activity
            android:name="com.educate.learnapp.Links"
            android:exported="true" />
        <activity
            android:name="com.educate.learnapp.Courses"
            android:exported="true" />

        <activity
            android:name="com.educate.learnapp.GetStart"
            android:exported="true" />
        <activity
            android:name="com.educate.learnapp.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.educate.learnapp.MainActivity"
            android:exported="true"
            />
    </application>

</manifest>